@{
    ViewData["Title"] = "编辑链接";
}

<div class="panel panel-default">
    <div class="panel-heading">编辑链接</div>
    <div class="panel-body">
        <input type="hidden" class="form-control" id="id" placeholder="Enter title" value='@ViewData["url_id"].ToString()' />
        <div class="form-group">
            <label>标题</label>
            <input type="text" class="form-control" id="title" placeholder="Enter title" />
        </div>
        <div class="form-group">
            <label>短域</label>
            <input type="text" class="form-control" id="tag" placeholder="Enter tag" />
        </div>
        <div class="form-group">
            <label>URL</label>
            <input type="text" class="form-control" id="url" placeholder="Enter url" />
        </div>
        <label>描述</label>
        <div>
            <textarea name="description" class="form-control" id="desc" style="width:100%; min-height:5rem;" placeholder="Input the description"></textarea>
        </div>
        <div class="form-group text-right" style="margin-top:20px">
            <button type="button" onclick="submit()" class="btn btn-primary">提交</button>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        window.onload = function () {
            var id = $("#id").val();
            $.ajax({
                url: '/Account/Urls/GetMap',
                method: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.code == 200) {
                        var data = res.data;
                        $("#id").val(data.id);
                        $("#title").val(data.title);
                        $("#tag").val(data.tag);
                        $("#url").val(data.url);
                        $("#desc").val(data.desc);
                    } else {
                        console.log(data);
                        console.log(data.message);
                    }
                },
                error: function (x, r, d) {
                    console.log(x, r, d);
                }
            });
        }

        function submit() {
            var id = $("#id").val();
            var title = $("#title").val();
            var tag = $("#tag").val();
            var url = $("#url").val();
            var desc = $("#desc").val();

            $.ajax({
                url: '/Account/Urls/Push',
                method: 'POST',
                data: { id: id, title: title, tag: tag, url: url, desc: desc, action: 'edit' },
                success: function (data) {
                    if (data.code == 200) {
                        console.log(data);
                        alert(data.message);
                        window.location.href = '/Account/Urls/Index'
                    } else {
                        console.log(data);
                        alert(data.message);
                    }
                },
                error: function (x, r, d) {
                    console.log(x, r, d);
                }
            });
        }
    </script>
} 